{% extends "base.html" %}
{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>
        <form method="post" action="{{url_for('add_data')}}">
          {{form.hidden_tag()}}

          {{form.cafe_name.label}}<br/><br/>
          {{form.cafe_name(class="form-control")}}<br/><br/>

          {{form.location_url.label}}<br/><br/>
          {{form.location_url(class="form-control")}}<br/><br/>

          {{form.open_time.label}}<br/><br/>
          {{form.open_time(class="form-control")}}<br/><br/>

          {{form.close_time.label}}<br/><br/>
          {{form.close_time(class="form-control")}}<br/><br/>

          {{form.wifi_rating.label}}<br/><br/>
          {{form.wifi_rating(class="form-control")}}<br/><br/>


          {{form.coffee_rating.label}}<br/><br/>
          {{form.coffee_rating(class="form-control")}}<br/><br/>

          {{form.power_outlet.label}}<br/><br/>
          {{form.power_outlet(class="form-control")}}<br/><br/>


          {{form.submit(class="btn btn-warning")}}
        </form>

	  <p class="space-above"><a href="{{url_for('cafes_page')}}">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}